h1{
  text-align: center;
}
h2{
  text-align: center;
  font-size: 28px;
}
body {
  font-family: arial, sans-serif;
  background: #ffffff;
  color: #222;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}
li {
  float: left;
}
li a {
  display: block;
  color: #4a4a4a;
  text-align: center;
  padding: 14px 10px 100px;
  text-decoration: none;
}
li a:hover {
  background-color: #ffff;
  text-decoration: underline;
}
ul {
  /* background-color: #f2f2f2; */
}  
.centernav .input-field {
  float: center;
  font-family: arial, sans-serif;
  padding: 8px;
  border-width: .5px;
  margin-top: 10px;
  margin-right: 16px;
  margin-left: 10px;
  font-size: 18px;
  width: 600px;
  border-radius: 30px;
  border-color: #e0e3e6;
}
/*.centernav:hover {
     
}
*/
.centernav i {
   position: absolute;
   margin-left: 10px;
} 
.fas.fa-search{
  color: #4384f3;
  padding: 20px;
  font-size: 20px;
  align-content: right;
}
 i {
   position: absolute;
   margin-left: 10px;
}
.bottomnav {
  background-color: #f2f2f2;
  font-family: arial, sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px 8px 5px 1px;
}
.navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  font-size: 17px;
}